* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: ghostwhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #111;
}

small {
  font-weight: 400;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: #ff2751;
}

a:hover {
  color: #00d9da;
}

header {
  background-color: #eee;
  color: #111;
  height: 5rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}

.header-menu a {
  width: 32%;
  display: inline-block;
  color: #ff2751;
  background-color: #00d9da;
}

.header-menu a:hover {
  color: #00d9da;
  background-color: #ff2751;
}

.header-menu li {
  font-weight: 800;
  padding: 0.5rem 0;
  font-size: 12px;
}

main {
  padding: 2.5%;
}

.header-logo {
  height: 100%;
  width: 33%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem;
}

.header-logo img {
  height: 4rem;
}

.header-title {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

.header-menu {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}

.header-title h1 {
  display: inline-block;
  font-size: 20px;
}

header ul {
  list-style-type: none;
  text-decoration: none;
}

article {
  padding: 2.5%;
}

.article-title {
  margin-bottom: 1rem;
}

article ul,
article ol {
  padding: 1.25% 2.5%;
}

.epicode-video {
  width: 80%;
  padding: 0 20%;
}

.newsletter {
  width: 50%;
  text-align: center;
  padding: 1rem;
  margin: 2.5% 25%;
  border: 2px dotted rgb(144, 0, 163);
  border-radius: 10rem;
}

table {
  width: 100%;
  border: 1px solid #111;
  border-collapse: collapse;
}

caption {
  padding: 0.5rem;
}

tr {
  width: 100%;
  text-align: center;
  border: 1px solid #111;
}

td {
  width: 33%;
  text-align: center;
}

.td-label {
  text-align: right;
  padding-right: 5px;
}

.td-input {
  text-align: left;
  padding-left: 5px;
}

::placeholder {
  text-align: center;
}

.related-articles {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.related-articles h2 {
  padding: 0.5rem;
}

.related-1,
.related-2,
.related-3 {
  margin-top: 1rem;
  text-align: left;
  display: inline-block;
  width: 30%;
  border: 2px solid #eee;
  padding: 2.5%;
  margin: 1%;
}

.epicode-video {
  width: 100%;
  margin: auto;
}

footer {
  background-color: #eee;
  padding: 1rem;
  text-align: center;
}

footer p {
  padding: 0.25rem;
  font-size: 12px;
}
